---
---

<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__brand">
        <a href="/" class="footer__logo">Ádám <span>Levente</span></a>
        <p class="footer__tagline">
          Szoftverfejlesztő és -tesztelő.<br />
          Modern technológiák, valós projekttapasztalat.
        </p>
        <a href="mailto:adam.levente.daniel@gmail.com" class="footer__email">
          adam.levente.daniel@gmail.com
        </a>
      </div>

      <div>
        <div class="footer__heading">Oldaltérkép</div>
        <ul class="footer__links">
          <li><a href="/" class="footer__link">Főoldal</a></li>
          <li><a href="/#about" class="footer__link">Rólam</a></li>
          <li><a href="/#skills" class="footer__link">Technológiák</a></li>
          <li><a href="/#experience" class="footer__link">Tapasztalat</a></li>
          <li><a href="/#contact" class="footer__link">Kapcsolat</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__copy">
        &copy; {new Date().getFullYear()} Ádám Levente – Minden jog fenntartva.
      </p>
    </div>
  </div>
</footer>
