---
---

<section class="section section--alt" aria-label="Statisztikák">
  <div class="container">
    <div class="stats__grid">
      <div class="stats__item">
        <div class="stats__number" data-target="5">5+</div>
        <div class="stats__label">év tapasztalat</div>
      </div>
      <div class="stats__item">
        <div class="stats__number" data-target="30">30+</div>
        <div class="stats__label">elkészült projekt</div>
      </div>
      <div class="stats__item">
        <div class="stats__number" data-target="20">20+</div>
        <div class="stats__label">elégedett ügyfél</div>
      </div>
      <div class="stats__item">
        <div class="stats__number" data-target="98">98%</div>
        <div class="stats__label">ügyfél-elégedettség</div>
      </div>
    </div>
  </div>
</section>
